.comments {
  margin-top: 1rem;
  overflow-y: auto;
  max-height: calc(100vh - 500px);
  padding: 20px;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  margin-top: 1rem;
  overflow-y: auto;
}

.commentsskeleton {
  margin-top: 1rem;
  overflow-y: auto;
  height: calc(100vh - 500px);
  padding: 20px;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  margin-top: 1rem;
  overflow-y: auto;
}

.comment {
  border: 2px solid #aaa;
  border-radius: 4px;
  padding: 20px;
}
