.app {
  width: 30rem;
  margin: 2rem auto;
  text-align: center;
}

.input {
  font: inherit;
  padding: 0.25rem;
  font-size: 1.25rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 50%;
}

.input:focus {
  background-color: #f2e0ff;
}
