.app {
  text-align: center;
  display: flex;

  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.input {
  font: inherit;
  margin: 1rem;
  padding: 0.25rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.input:focus {
  background-color: #d9c0fa;
}
